#callout-banner .remove-banner:hover {
  cursor: pointer;
}
#callout-banner {
  z-index: 999;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#callout-banner .banner-content {
  width: 970px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
#callout-banner .banner-content a {
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
}
#callout-banner .banner-content a:hover,
#callout-banner .banner-content a:active,
#callout-banner .banner-content a:visited {
  background: rgba(51, 51, 51, .2) !important;
  text-decoration: none;
}
#callout-banner .remove-banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 38px;
  text-align: center;
}
/* Media queries for small devices. */
@media all and (max-width: 768px) {
  #callout-banner .banner-content {
    line-height: 35px;
  }
}
